.app-container.unauthenticated {
  background-color: white;
  color: black;
}

.app-container.unauthenticated button {
  background-color: lightgray;
  color: black;
}

.app-container.authenticated {
  background-color: purple;
  color: white;
}

.app-container.authenticated button {
  background-color: black;
  color: white;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-size: 2rem;
}